.container {
    height: 40rem;
    width: 50rem;
    background-color: green;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    border: 1px solid gray;
}
