.container {
    height: 40rem;
    width: 50rem;
    background-color: green;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    background-color: rgb(40, 42, 54);
    border: 1px solid gray;
}
